.profile-image {
	text-align: center;
	height: 70px;
  width: 70px;
  display:block;
  background-color: #00000000;
}

@media (max-width: 48em) {
  .profile-image {
  	margin-left:auto;
  	margin-right:auto;
  	height: 50px;
    width: 50px;
  }
}

#main-nav-vertical { display: block; }
#main-nav-horizontal { display: none; }

@media (max-width: 48em) {
  #main-nav-vertical { display: none; }
  #main-nav-horizontal { display: block; }
}

.sidebar-copyright {
  margin-top: 1rem;
  font-size: 0.6rem;
}

.emscripten-sample-tall {
  width: 660px;
  height: 450px;
  overflow: hidden;
}

.emscripten-sample {
  width: 300px;
  height: 200px;
}

@media (min-width: 800px) {
  .emscripten-sample {
    width: 460px;
    height: 300px;
  }
}

@media (min-width: 900px) {
  .emscripten-sample {   
    width: 660px;
    height: 420px;
  }
}
