<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img class="profile-image" src="/images/profile_bubble.png" alt="">

      <h2>
        <a href="/">
          {{ site.title }}
        </a>
      </h2>
    </div>

    <div id="main-nav-vertical">
      <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="/about">About</a>
        
        <a class="sidebar-nav-item" href="/android">Android</a>
        <a class="sidebar-nav-item" href="/android/2015/11/01/kaleidoscope">&nbsp;&nbsp;- AIDL kaleidescope</a>
        <a class="sidebar-nav-item" href="/android/2015/09/13/configula">&nbsp;&nbsp;- Configuration launching</a>
        <a class="sidebar-nav-item" href="/android/2015/09/04/intent-links">&nbsp;&nbsp;- HTML app linking</a>

        <a class="sidebar-nav-item" href="/algorithms">Algorithms</a>
        <a class="sidebar-nav-item" href="/algorithms/2015/09/20/permutations">&nbsp;&nbsp;- Permutations playground</a>
        <a class="sidebar-nav-item" href="/algorithms/2015/09/12/dijkstra-part2">&nbsp;&nbsp;- Dijkstra's Algorithm - Part 2</a>
        <a class="sidebar-nav-item" href="/algorithms/2015/09/05/dijkstra-part1">&nbsp;&nbsp;- Dijkstra's Algorithm - Part 1</a>

        <a class="sidebar-nav-item" href="https://www.linkedin.com/pub/marcel-braghetto/73/90b/133">LinkedIn</a>
        <a class="sidebar-nav-item" href="https://github.com/MarcelBraghetto">GitHub</a>
      </nav>
    </div>

    <div id="main-nav-horizontal">
        <a href="/about">About</a>
        &nbsp;|&nbsp;
        <a href="/android">Android</a>
        &nbsp;|&nbsp;
        <a href="/algorithms">Algorithms</a>
        &nbsp;|&nbsp;
        <a href="https://www.linkedin.com/pub/marcel-braghetto/73/90b/133">LinkedIn</a>
        &nbsp;|&nbsp;
        <a href="https://github.com/MarcelBraghetto">GitHub</a>
    </div>

    <p class="sidebar-copyright">&copy; {{ site.author.name }} {{ site.time | date: '%Y' }}. All rights reserved.</p>

  </div>
</div>