<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img class="profile-image" src="/images/profile_bubble.png" alt="">
    </div>

    <div id="main-nav-vertical">
      <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="/about">About</a>

        <br/>

        <a class="sidebar-nav-item" href="/">Show all</a>

        <br/>
        
        <a class="sidebar-nav-item" href="/a-simple-triangle">A Simple Triangle</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/03/02/part-01">&nbsp;&#x21B3; 01: Introduction</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/03/02/part-02">&nbsp;&#x21B3; 02: Setup console app</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/03/03/part-03">&nbsp;&#x21B3; 03: Setup MacOS app</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/03/09/part-04">&nbsp;&#x21B3; 04: Setup iOS app</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/03/09/part-05">&nbsp;&#x21B3; 05: Setup Android app</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/03/10/part-06">&nbsp;&#x21B3; 06: Setup Emscripten app</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/03/11/part-07">&nbsp;&#x21B3; 07: Setup Windows app</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/03/16/part-08">&nbsp;&#x21B3; 08: Refactor foundation</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/04/14/part-09">&nbsp;&#x21B3; 09: Load a 3D model</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/04/25/part-10">&nbsp;&#x21B3; 10: OpenGL render mesh</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/05/05/part-11">&nbsp;&#x21B3; 11: OpenGL texture mapping</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/05/26/part-12">&nbsp;&#x21B3; 12: Scenes and update loop</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/06/08/part-13">&nbsp;&#x21B3; 13: Vulkan introduction</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/06/09/part-14">&nbsp;&#x21B3; 14: Vulkan setup console</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/06/15/part-15">&nbsp;&#x21B3; 15: Vulkan setup MacOS</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/06/15/part-16">&nbsp;&#x21B3; 16: Vulkan setup iOS</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/06/16/part-17">&nbsp;&#x21B3; 17: Vulkan setup Android</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/06/22/part-18">&nbsp;&#x21B3; 18: Vulkan setup Emscripten</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/06/22/part-19">&nbsp;&#x21B3; 19: Vulkan setup Windows</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/06/23/part-20">&nbsp;&#x21B3; 20: Vulkan create device</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/06/30/part-21">&nbsp;&#x21B3; 21: Vulkan create swapchain</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/07/07/part-22">&nbsp;&#x21B3; 22: Vulkan create render pass</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/07/20/part-23">&nbsp;&#x21B3; 23: Vulkan create frame buffers</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/07/27/part-24">&nbsp;&#x21B3; 24: Vulkan render loop</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/09/21/part-25">&nbsp;&#x21B3; 25: Vulkan shader pipeline</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/10/05/part-26">&nbsp;&#x21B3; 26: Vulkan load meshes</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/10/06/part-27">&nbsp;&#x21B3; 27: Vulkan load textures</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/10/06/part-28">&nbsp;&#x21B3; 28: Vulkan render scene</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/10/19/part-29">&nbsp;&#x21B3; 29: Window resize events</a>
        <a class="sidebar-nav-item" href="/a-simple-triangle/2019/10/20/part-30">&nbsp;&#x21B3; 30: Basic user input</a>

        <br/>

        <a class="sidebar-nav-item" href="/android">Android</a>
        <a class="sidebar-nav-item" href="/android/2015/11/01/kaleidoscope">&nbsp;&#x21B3; AIDL kaleidescope</a>
        <a class="sidebar-nav-item" href="/android/2015/09/13/configula">&nbsp;&#x21B3; Configuration launching</a>
        <a class="sidebar-nav-item" href="/android/2015/09/04/intent-links">&nbsp;&#x21B3; HTML app linking</a>

        <br/>

        <a class="sidebar-nav-item" href="/algorithms">Algorithms</a>
        <a class="sidebar-nav-item" href="/algorithms/2015/09/20/permutations">&nbsp;&#x21B3; Permutations playground</a>
        <a class="sidebar-nav-item" href="/algorithms/2015/09/05/dijkstra-part1">&nbsp;&#x21B3; 01: Dijkstra's Algorithm</a>
        <a class="sidebar-nav-item" href="/algorithms/2015/09/12/dijkstra-part2">&nbsp;&#x21B3; 02: Dijkstra's Algorithm</a>

        <br/>

        <a class="sidebar-nav-item" href="https://www.linkedin.com/pub/marcel-braghetto/73/90b/133">LinkedIn</a>
        <a class="sidebar-nav-item" href="https://github.com/MarcelBraghetto">GitHub</a>
      </nav>
    </div>

    <div id="main-nav-horizontal">
        <a href="/about">About</a>
        &nbsp;|&nbsp;
        <a href="/android">Android</a>
        &nbsp;|&nbsp;
        <a href="/algorithms">Algorithms</a>
        &nbsp;|&nbsp;
        <a href="https://www.linkedin.com/pub/marcel-braghetto/73/90b/133">LinkedIn</a>
        &nbsp;|&nbsp;
        <a href="https://github.com/MarcelBraghetto">GitHub</a>
    </div>

    <p class="sidebar-copyright">&copy; {{ site.author.name }} {{ site.time | date: '%Y' }}.<br/>All rights reserved.</p>

  </div>
</div>