<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img class="profile-image" src="/images/profile_bubble.png" alt="">

      <h2>
        <a href="/">
          {{ site.title }}
        </a>
      </h2>
    </div>

    <div id="main-nav-vertical">
      <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="/about">About</a>
        <a class="sidebar-nav-item" href="/">All</a>
        <a class="sidebar-nav-item" href="/android">Android</a>
        <a class="sidebar-nav-item" href="/algorithms">Algorithms</a>
        <a class="sidebar-nav-item" href="https://www.linkedin.com/pub/marcel-braghetto/73/90b/133">LinkedIn</a>
        <a class="sidebar-nav-item" href="https://github.com/MarcelBraghetto">GitHub</a>
      </nav>
    </div>

    <div id="main-nav-horizontal">
        <a href="/about">About</a>
        &nbsp;|&nbsp;      
        <a href="/">All</a>
        &nbsp;|&nbsp;
        <a href="/android">Android</a>
        &nbsp;|&nbsp;
        <a href="/algorithms">Algorithms</a>
        &nbsp;|&nbsp;
        <a href="https://www.linkedin.com/pub/marcel-braghetto/73/90b/133">LinkedIn</a>
        &nbsp;|&nbsp;
        <a href="https://github.com/MarcelBraghetto">GitHub</a>
    </div>

    <p class="sidebar-copyright">&copy; {{ site.author.name }} {{ site.time | date: '%Y' }}. All rights reserved.</p>

  </div>
</div>