---
layout: default
---

<div class="posts">
  {% assign count = '0' %}
  {% for post in site.posts %}
  {% if post.category == page.title %}
  {% capture count %}{{ count | plus: '1' }}{% endcapture %}
  {% if count > '1' %}
  <hr/>
  {% endif %}
  <div class="post">
    <h3 class="post-title">
        {{ post.category }} / {{ post.title }}
    </h3>

    <span class="post-date">{{ site.author.name }} {{ post.date | date_to_string }}</span>
    <p>
      <a href="{{ post.url }}">&gt;&gt;&gt; Read full article</a>
    </p>

    {{ post.excerpt }}
  </div>
  {% endif %}
  {% endfor %}

  {% if count == '0' %}
    <h1 class="post-title">No posts to display</h1>
  {% endif %}
</div>